<mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="toolbar no-select" routerLink="">
        <mat-icon style="margin-right: 5px" class="text-white">home</mat-icon>
        <span class="text-white">Сервис клининга</span>
      </div>
      <span class="example-spacer"></span>
      <div class="toolbar no-select">
        <button class="toolbar button" mat-flat-button routerLink="">Главная</button>
        <button class="toolbar button" mat-flat-button routerLink="products">Товары</button>
        <button class="toolbar button" mat-flat-button routerLink="basket">Корзина</button>
        <button class="toolbar button" mat-flat-button routerLink="login">Войти</button>

      </div>
    </mat-toolbar-row>
  </mat-toolbar>